@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Diyos Employee List</h1>
    <p>This is the company website: <a href="https://www.diyosinfotech.com/">Diyos Infotech</a>.</p>
</div>

