@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy. Please review our <a href="https://www.diyosinfotech.com/privacy-policy.html" target="_blank">Privacy Policy</a>.</p>
